



<div style="height:400px; overflow: auto; margin-top:100px" ng-init="GetTeam()">
    <div style="height: 250px;">
        <table class="table table-striped" border="1">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Tool</th>
                    <th colspan="2">Actions</th>

                </tr>
                <tr ng-repeat="member in members">
                    <td>{{member.empId}}</td>
                    <td>{{member.empName}}</td>
                    <td>{{member.category}}</td>
                    <td>{{member.tool}}</td>
                    <td>
                        <a href="#" ng-click="Edit(member.empId)"><u>Edit</u></a>&nbsp;&nbsp;&nbsp;|
                        <a href="#" ng-click="DeleteMember(member.empId)"><u>Delete</u></a>
                    </td>
                </tr>
            </thead>
            <tbody>
               
                
            </tbody>
        </table>


        
    </div>
</div>
